{% load static %}

<!DOCTYPE html>
<html lang="sk">
<head>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'web/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href=" {% static 'web/css/jquery-ui.css' %} " rel="stylesheet">


    <title>{% block title %} {% endblock %}</title>

    {% block head-tag %}

    {% endblock %}

</head>

<body>


<div class="page-container">
    <div class="container-fluid">
        {% block logo-buttons %}

        {% endblock %}

        {% block navigation %}

        {% endblock %}

        {% block termin-info %}

        {% endblock %}


        <script>
            // function which open particular day-lesson in new window
            function show_termin_info(id) {
                var dimensions = 'width=500,height=300,left=0,top=100,screenX=0,screenY=100';
                $.ajax({
                    url: 'termin/' + id,
                    type: 'GET', // This is the default though, you don't actually need to always mention it
                    success: function (data) {
                        window.open(this.url, 'termin_info', dimensions);
                    },
                    failure: function (data) {
                        alert('Got an error dude');
                    }
                });
            }
        </script>


        {% block week-grid %}

        {% endblock %}

    </div>
</div>

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="{% static 'web/js/jquery-ui.js' %}"></script>

<script src=" {% static 'web/js/bootstrap.min.js' %} "></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#<script src=" {% static 'web/js/ie10-viewport-bug-workaround.js' %} "></script>#}

{% block js %}

{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        // jquery datepicker added to input text with id "datepicker"
        $(function () {
            $("#datepicker").datepicker();
        });
        // this will set to input text current date
        var date_today = function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }
        document.getElementById('datepicker').value = date_today();

        // change number or people in lesson
        $("#delete").click(function () {
            document.getElementById('1').children[1].innerHTML = "9/9";
            var day = new Date().getDay();
            for (var i = 1; i <= 110; i++) {
                if (Math.floor(i / day)) {
                    document.getElementById(i.toString()).style.background = "red";
                    day += 5;
                }
            }
        });

        // this will grab checked checkboxes and will return id's of their div element
        function grab_checked() {
            var result = [];
            var divs = $('div[class="checkbox"]');
            var checked = 0;
            for (i = 0; i < divs.length; i++) {
                if (divs[i].children[0].checked) {
                    checked += 1;
                    result.push(divs[i].id);
                }
            }
            var resultString = checked + " out of " + divs.length + " checkboxes are checked";
            if (checked > 0) {
                $('#div').html(resultString);
                return result;
            } else {
                $('#div').html("No checkbox checked");
                return null;
            }
        }

        // this function executes when "Uloz" button clicked and opened new window with pre-submit info
        $("#save").click(function () {
            var terminy = grab_checked();
            var postUrl = "terminy/"
            if (terminy != null) {
                $.post(postUrl, {termins_id: terminy}, function (response) {
                    window.open(postUrl, 'terminy', 'width=500,height=300,left=0,top=100,screenX=0,screenY=100').document.write(response);
                });
            }
        });
        // next ( ">" ) button clicked increase value in input text
        $('#next').click(function () {
            var date = $('#datepicker').datepicker('getDate');
            date.setDate(date.getDate() + 1)
            $('#datepicker').datepicker("setDate", date);
            change_bg_color();
        });
        // previous ( "<" ) button clicked decrease value in input text
        $('#prev').click(function () {
            var date = $('#datepicker').datepicker('getDate');
            date.setDate(date.getDate() - 1)
            $('#datepicker').datepicker("setDate", date);
            change_bg_color();
        });

        function select_red_by_day(day) {

            if (day < 6 && day > 0) {
                var ix = 0;
                for (var i = 1; i <= 110; i++) {
                    if (Math.floor(i / day)) {
                        document.getElementById(i.toString()).style.background = "red";
                        day += 5;
                    }
                    else {
                        if(document.getElementById(i.toString()).style.backgroundColor == "red"){
                            if(ix % 2 == 0) {
                                document.getElementById(i.toString()).style.background = "#F9F9F9";
                            }
                            else{
                                document.getElementById(i.toString()).style.background = "white";
                            }
                            ix += 1;
                        }
                    }
                }
            }
            else {
                for (var i = 1; i <= 110; i++) {
                    if(document.getElementById(i.toString()).style.backgroundColor == "red"){
                        document.getElementById(i.toString()).style.background = "white";
                    }
                }
            }
        };
        function change_bg_color() {
            var new_date = $('#datepicker').datepicker('getDate');
            var day = new_date.getDay();
            select_red_by_day(day);
        };

        window.onload = change_bg_color;


    });
</script>

</html>