{% load static %}

<!DOCTYPE html>
<html lang="sk">
<head>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'web/css/bootstrap.css' %} " rel="stylesheet">
    <link href=" {% static 'web/css/jquery-ui.css' %} " rel="stylesheet">


    <title>{% block title %} {% endblock %}</title>

    {% block head-tag %}

    {% endblock %}

</head>

<body>

<!-- Modal window for termin info == admin -->
<div class="modal fade" id="modal_window_admin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_label_admin"></h4>
            </div>

            <div class="modal-body" id="modal_body_admin">
                <!--ajax success content here-->
            </div>
            <div class="form-group" id="note_for_block_admin" style="margin:15px;">

            </div>
            <!--note for delete if admin is logged in-->
            <div class="form-group" id="note_for_delete_admin" style="margin:15px;">
                <label for="comment_admin">Poznámka pre odhlásenie:</label>
                <textarea class="form-control" rows="4" id="comment_admin"
                          placeholder="Ahojte, musel som Vás odhlásiť, pretože ..."></textarea>
                <br>
                <button type="button" style="width:100px;" class="btn btn-danger btn-lg" id="modal-delete_admin">
                    Odhlásiť
                </button>
            </div>

        </div>
    </div>
</div>

<!-- Modal window for termin info == user -->
<div class="modal fade" id="modal_window_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_label_user"></h4>

            </div>

            <div class="modal-body" id="modal_body_user">

                <!--ajax success content here-->
            </div>
            <!--delete registration -->
            <div class="form-group" id="">
                <button type="button" style="margin-left:15px; width:100px;" class="btn btn-danger btn-lg"
                        id="modal-delete_user">Odhlásiť
                </button>
                <button type="button" style="margin-left:5px; width:100px;" class="btn btn-danger btn-lg"
                        id="modal-update_user">Uložiť
                </button>
            </div>

        </div>
    </div>
</div>

<!-- Modal window for termin save-->
<div class="modal fade" id="modal_window_save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_label_save"></h4>
            </div>
            <div id="user_name" style="margin:15px;">Meno</div>
            <div class="modal-body" id="modal_body_save">
                <!--ajax success content here-->
            </div>

            <!--save button when doing reservation-->
            <div class="form-group" id="save-btn-last-check">
                <button type="button" class="btn btn-danger btn-lg" id="modal-save" style="margin:15px;">Odoslať
                </button>
            </div>

        </div>
    </div>
</div>


<div class="page-container">
    <div class="container-fluid">


        {% block logo-nav %}

        {% endblock %}


        {% block termin-info %}

        {% endblock %}


        <script>
            // this will grab checked checkboxes and will return id's of their div element
            function grab_checked() {
                var result = [];
                var divs = $('div[class="checkbox"]');
                var checked = 0;
                for (i = 0; i < divs.length; i++) {
                    if (divs[i].children[0].checked) {
                        checked += 1;
                        result.push(divs[i].id);
                    }
                }
                var resultString = "<h3>" + checked + " z " + divs.length + " termínov vybratých</h3>";
                if (checked > 0) {
                    $('#div').html(resultString);
                    return result;
                } else {
                    $('#div').html("<h3>Nevybrali ste žiadne termíny</h3>");
                    return null;
                }
            }

            // rank pre modalne ohna moznosti admin/student


            var rank = "student";
            //var rank = "admin";


            var thisIsAnObject;

            function mod(n, m) {
                return ((n % m) + m) % m;
            }
            //            function getCrtfCookie(name) {
            //                var cookieValue = null;
            //                if (document.cookie && document.cookie != '') {
            //                    var cookies = document.cookie.split(';');
            //                    for (var i = 0; i < cookies.length; i++) {
            //                        var cookie = jQuery.trim(cookies[i]);
            //                        // Does this cookie string begin with the name we want?
            //                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            //                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            //                            break;
            //                        }
            //                    }
            //                }
            //                return cookieValue;
            //            }

            //            var csrftoken = getCrtfCookie('csrftoken');


            // rank means if it is student or teacher or admin

            function set_checked(id) {

                if (document.getElementById(id).children[0].style.visibility == "visible"){
                    if(document.getElementById(id).children[0].checked){
                        document.getElementById(id).children[0].checked = false;
                        grab_checked();
                    }
                    else{
                        document.getElementById(id).children[0].checked = true;
                        grab_checked();
                    }
                }
            }

            function get_date_by_id(id) {
                id = parseInt(id);
                var day = id % 5;

                var date = null;

                var array = document.getElementById('datepicker').value.split('/');

                console.log(array,"asfasfas");

                // get 5 days of the week
                var d1 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
                var d2 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
                var d3 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
                var d4 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
                var d5 = Date.parse(array[1] + "." + array[0] + "." + array[2]);

                if (d1.getDay() != 1) {
                    var md1 = d1.previous().monday();
                    var md2 = d2.previous().monday();
                    var md3 = d3.previous().monday();
                    var md4 = d4.previous().monday();
                    var md5 = d5.previous().monday();
                }
                else {
                    var md1 = d1;
                    var md2 = d2;
                    var md3 = d3;
                    var md4 = d4;
                    var md5 = d5;
                }


                var dd1 = md1;
                var dd2 = md2.add(1).days();
                var dd3 = md3.add(2).days();
                var dd4 = md4.add(3).days();
                var dd5 = md5.add(4).days();


                console.log(array, 'array', dd1);
                console.log(array, 'array', dd2);
                console.log(array, 'array', dd3);
                console.log(array, 'array', dd4);
                console.log(array, 'array', dd5);


                switch (day) {
                    case 1:
                        date = dd1;
                        break;
                    case 2:
                        date = dd2;
                        break;
                    case 3:
                        date = dd3;
                        break;
                    case 4:
                        date = dd4;
                        break;
                    case 0:
                        date = dd5;
                        break;

                }
                return date;
            }

            // function which open particular day-lesson in new window
            function show_termin_info(id) {

                var date_by_id = get_date_by_id(id);

                console.log("asfgasgsg",date_by_id);

                $.ajax({
                    url: 'termin/' + id + '/',
                    type: 'POST',
                    data: {
//                        csrfmiddlewaretoken: csrftoken,
                        date: get_date_by_id(id),

                    },
                    success: function (response) {

                        thisIsAnObject = response['reservations'];

                        console.log(thisIsAnObject);



                        $("#modal_label").html("Nahlad terminu");


                        var table = '<table class="table table-striped" id="modal_table"><tr> <th>Prihlásený na tento termín (' + response.number + ')     </th> <th>Poznámka</th>';

                        var current_user_login = "user_login";


                        var rank = "admin";

                        if (rank == "admin") {

                            var additional_html;
                            table += '<th>Odhlásiť</th>'

                            for (i = 0; i < response.number; i++) {
                                additional_html = '</td><td>Note link: ' + response.res_notes[i] + '</td><td id="id ' + id + '"><input style="margin-left:28px;" type="checkbox" id="' + response['res_times'][i] + ' ' + response['res_dates'][i] + ' ' + response['res_logins'][i] + '"></td>';
                                table += '<tr><td>' + response['res_names'][i] + additional_html;
                            }
                            table += '</table>';

                            var data = '<label id="'+id + ' ' + get_date_by_id(id) +'">Poznámka pre zablokovanie:</label> <input type="text" class="form-control" id="block_note"> <br> <button type="button" class="btn btn-danger btn-lg" id="block_button_for_admin">Zablokovať</button>'

                            $("#modal_label_admin").html("<b>Zoznam prihlásených ľudí</b>");
                            $("#note_for_block_admin").html(data);
                            $("#modal_body_admin").html(table);
                            $("#modal_window_admin").modal('show');
                        }
                        else {
                            var additional_html;
//                            table += '<th></th>';


                            for (i = 0; i < response.number; i++) {
                                <!--if(  response['date_check'] ==  document.getElementById('datepicker').value){-->
                                if (current_user_login == response['res_logins'][i]) {
                                    additional_html = '</td><td id="' + response['res_times'][i] + ' ' + response['res_dates'][i] + ' ' + response['res_logins'][i] + '"><input type="text" class="form-control" value="' + response['res_notes'][i] + '"></td>';
                                }
                                else {
                                    additional_html = '</td><td id="' + response['res_times'][i] + ' ' + response['res_dates'][i] + ' ' + response['res_logins'][i] + '">' + response['res_notes'][i] + '</td>';
                                }
                                table += '<tr><td>' + response['res_names'][i] + additional_html;
                                <!--}-->
                            }
                            table += '</table>';

                            $("#modal_label_user").html("Zoznam prihlásených ľudí");
                            $("#modal_body_user").html(table);
                            $("#modal_window_user").modal('show');
                        }

                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }
        </script>


        {% block week-grid %}

        {% endblock %}

    </div>
</div>

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="{% static 'web/js/jquery-ui.js' %}"></script>

<script src="{% static 'web/js/date.js' %}"></script>

<!--<script src="{% static 'web/js/jquery.min.js' %}"></script>-->

<script src=" {% static 'web/js/bootstrap.min.js' %} "></script>
<!--IE10 viewport hack for Surface/desktop Windows 8 bug -->

<script src=" {% static 'web/js/ie10-viewport-bug-workaround.js' %} "></script>


{% block js %}

{% endblock %}

<script type="text/javascript">
    $(document).ready(function () {
        function mod(n, m) {
            return ((n % m) + m) % m;
        }

        // fnction to get csrftoken from cookies which is used to comunicate with wsgi protocol
//        function getCookie(name) {
//            var cookieValue = null;
//            if (document.cookie && document.cookie != '') {
//                var cookies = document.cookie.split(';');
//                for (var i = 0; i < cookies.length; i++) {
//                    var cookie = jQuery.trim(cookies[i]);
//                    // Does this cookie string begin with the name we want?
//                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
//                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                        break;
//                    }
//                }
//            }
//            return cookieValue;
//        }




        var actual_user = "admin";
        var rank = "student";






//        function myCallback(result) {
//            // Code that depends on 'result'
//            var is_user_admin = result;
//            get_reservations_from_dtb(is_user_admin);
//        }
//        admin_check_with_db(myCallback);


        function admin_check_with_db(callback) {


            $.ajax({
                url: window.location.href, // the endpoint,commonly same url
                type: "POST", // http method
                data: {
//                            csrfmiddlewaretoken: csrftoken,
                    actual_user: actual_user,
                    get_admin: "True",

                },
//                async: false,
                // when success then get data from response and re-render data on page
                success: function (response) {
                    var data = response['is_admin'];
                    callback(data);

                },
                error: function (xhr, errmsg, err) {
                    console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        };

        function get_reservations_from_dtb(is_user_admin) {


            console.log("is_user_admin", is_user_admin);

            // parse datepicker's date
            var array = document.getElementById('datepicker').value.split('/')

            console.log("ARRAY", array);

            var d = new Date(array[2], array[1], array[0]);
            var day = mod((d.getDay() - 2), 7);
            // change old selected day --> red background to white
            for (var i = 1; i <= 110; i++) {
                if (document.getElementById(i.toString()).style.backgroundColor == "red") {
                    document.getElementById(i.toString()).style.background = "white";
                }
            }
            // again render red bg
            select_red_by_day(day - 1);

            // get 5 days of the week
            var d1 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d2 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d3 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d4 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d5 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            if (d1.getDay() != 1) {
                var md1 = d1.previous().monday();
                var md2 = d2.previous().monday();
                var md3 = d3.previous().monday();
                var md4 = d4.previous().monday();
                var md5 = d5.previous().monday();
            }
            else {
                var md1 = d1;
                var md2 = d2;
                var md3 = d3;
                var md4 = d4;
                var md5 = d5;
            }
            var dd2 = md2.add(1).days();
            var dd3 = md3.add(2).days();
            var dd4 = md4.add(3).days();
            var dd5 = md5.add(4).days();
            // function which send request for data
            function get_db_data() {
//                    var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: window.location.href, // the endpoint,commonly same url
                    type: "POST", // http method
                    data: {
//                            csrfmiddlewaretoken: csrftoken,
                        d1: md1,
                        d2: dd2,
                        d3: dd3,
                        d4: dd4,
                        d5: dd5,
                    },
                    // when success then get data from response and re-render data on page
                    success: function (json) {
//                        alert(json['reservations'])
                        var res = json['reservations'];
                        var capacity = json['capacity'];
                        for (var i = 0; i < res.length; i++) {
                            document.getElementById((i + 1).toString()).children[1].innerHTML = res[i] + "/" + capacity;

                            if (res[i] == capacity) {
                                document.getElementById((i + 1).toString()).children[0].style.visibility = "hidden";
                            }

                            else if (is_user_admin == false) {

                                // treba este dorobit zistenie zo session ci je ucitel alebo student a podla toho nastavit rank


                                if (rank == "student") {
                                    if (i + 1 < 71) {
                                        if (document.getElementById((i + 1).toString()).children.length == 3) {
                                            document.getElementById((i + 1).toString()).children[0].style.visibility = "hidden";
                                        }
                                    }
                                }
                                else if (rank == "ucitel") {
                                    if (i + 1 >= 71) {
                                        if (document.getElementById((i + 1).toString()).children.length == 3) {
                                            document.getElementById((i + 1).toString()).children[0].style.visibility = "hidden";
                                        }
                                    }
                                }
                            }
                            else {
                                document.getElementById((i + 1).toString()).children[0].style.visibility = "visible";
                            }
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }
            // function call
            get_db_data();
        };

        // jquery datepicker added to input text with id "datepicker"
        $(function () {
            $("#datepicker").datepicker({
                onSelect: function () {
                    $(this).change();
                }
                // when some date is selected then send request and re-render data
            }).on("change", get_reservations_from_dtb);
        });

        // this will set to input text current date
        var date_today = function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }
        document.getElementById('datepicker').value = date_today();
        get_reservations_from_dtb();


//----------------------------------------------------------------------------------------------------------------------------------------
        // this function executes when "Uloz" button clicked and opened new window with pre-submit info
        $("#save").click(function () {
            var terminy = grab_checked();
            var postUrl = "terminy/";
//            var csrftoken = getCookie('csrftoken');
            if (terminy != null) {
                $.post(postUrl, {
                    termins_id: terminy,
//                    csrfmiddlewaretoken: csrftoken,

                }, function (response) {

                    document.getElementById("save-btn-last-check").style.visibility = "visible";

                    var table = '<table class="table table-striped" style="width:100%" id="modal_table_save"><tr> <th>Zvolili ste si tieto terminy (' + response.number + '):</th> <th>Poznámka</th>';
                    var additional_html = '</td><td><input type="text" class="form-control"></td>';
                    for (i = 0; i < response.number; i++) {
                        table += '<tr><td id="id ' + terminy[i] + '" >' + response['res_days'][i] + " " + response['res_times'][i] + additional_html;
                    }
                    table += '</table>';

                    $("#modal_label_save").html("<b>Zhrnutie prihlásených termínov a pridanie poznámky</b>");
                    $("#modal_body_save").html(table);
                    $("#modal_window_save").modal('show');

                });
            }
        });


//----------------------------------------------------------------------------------------------------------------------------------------


        function get_date_by_id(id) {
            id = parseInt(id);
            var day = id % 5;

            var date = null;

            var array = document.getElementById('datepicker').value.split('/');
            console.log("array", array);
            // get 5 days of the week
            var d1 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d2 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d3 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d4 = Date.parse(array[1] + "." + array[0] + "." + array[2]);
            var d5 = Date.parse(array[1] + "." + array[0] + "." + array[2]);

            if (d1.getDay() != 1) {
                var md1 = d1.previous().monday();
                var md2 = d2.previous().monday();
                var md3 = d3.previous().monday();
                var md4 = d4.previous().monday();
                var md5 = d5.previous().monday();
            }
            else {
                var md1 = d1;
                var md2 = d2;
                var md3 = d3;
                var md4 = d4;
                var md5 = d5;
            }
//            var md1 = d1.previous().monday();
//            var md2 = d2.previous().monday();
//            var md3 = d3.previous().monday();
//            var md4 = d4.previous().monday();
//            var md5 = d5.previous().monday();

            var dd1 = md1;
            var dd2 = md2.add(1).days();
            var dd3 = md3.add(2).days();
            var dd4 = md4.add(3).days();
            var dd5 = md5.add(4).days();

            switch (day) {
                case 1:
                    date = dd1;
                    break;
                case 2:
                    date = dd2;
                    break;
                case 3:
                    date = dd3;
                    break;
                case 4:
                    date = dd4;
                    break;
                case 0:
                    date = dd5;
                    break;

            }
            return date;
        }

// Modal window buttons on-click
//----------------------------------------------------------------------------------------------------------------------

        $('#modal-save').click(function () {
            console.log("save");

            var table = document.getElementsByName("modal_window_save");

            var array = $("#modal_table_save tr td");

            var times = [];
            var notes = [];
            var dates = [];
            for (var i = 0; i < array.length; i++) {
                if (i % 2 == 0) {
                    times.push(array[i].innerHTML);
                    var date = get_date_by_id(array[i].id.split(" ")[1]);
                    dates.push(date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate());
                }
                else {
                    console.log(array[i].children[0].value);
                    notes.push(array[i].children[0].value);
                }

            }
            function save_to_dtb() {
//                    var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: window.location.href, // the endpoint,commonly same url
                    type: "POST", // http method
                    data: {
//                            csrfmiddlewaretoken: csrftoken,
                        times: times,
                        notes: notes,
                        dates: dates,
                        save: "True",

                    },
                    // when success then get data from response and re-render data on page
                    success: function (response) {
                        $("#modal_window_save").modal('hide');
                        get_reservations_from_dtb();
                        $('#div').html("<h3>Vyberte si termíny</h3>");
//                        console.log(response);

                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }
            // function call
            save_to_dtb();
        });

        $('#block_button_for_admin').click(function () {
            console.log("block-admin");
        });

//        $('#modal-block_admin').click(function () {
//
//            var note = $("#block_note");
//
////            var time_date_login = $("#block_note");
//
//            console.log("cheat ", note);
//
////            console.log("cheat " + note.parentNode.children[0].id);
//
//            function block_registration() {
////                    var csrftoken = getCookie('csrftoken');
//                $.ajax({
//                    url: window.location.href, // the endpoint,commonly same url
//                    type: "POST", // http method
//                    data: {
////                            csrfmiddlewaretoken: csrftoken,
//                        note: note,
//                        block_registration: "True",
//
//                    },
//                    // when success then get data from response and re-render data on page
//                    success: function (response) {
//                        $("#modal_window_admin").modal('hide');
////                        get_reservations_from_dtb();
//                        console.log(response);
//
//                    },
//                    error: function (xhr, errmsg, err) {
//                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
//                    }
//                });
//            }
//            // function call
////            block_registration();
//        });


        $('#modal-delete_admin').click(function () {

            var array = $("#modal_table tr td input");

            var time_date_login = [];

            for (var i = 0; i < array.length; i++) {
                if (array[i].checked) {
                    time_date_login.push(array[i].id);
                    console.log("PARENT", array[i].id, array[i].id.split(" ")[1]);
                }

            }

            console.log(time_date_login);

            function delete_from_dtb_admin() {
//                    var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: window.location.href, // the endpoint,commonly same url
                    type: "POST", // http method
                    data: {
//                            csrfmiddlewaretoken: csrftoken,
                        time_date_login: time_date_login,
                        delete_admin: "True",

                    },
                    // when success then get data from response and re-render data on page
                    success: function (response) {
                        $("#modal_window_admin").modal('hide');
                        get_reservations_from_dtb();
//                        console.log(response);

                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }

            // function call
            delete_from_dtb_admin();
        });


        $('#modal-delete_user').click(function () {

            var array = $("#modal_table tr td");

            console.log(array);

            var current_user_login = "user_login";

            var time_date_login = [];

            for (var i = 0; i < array.length; i++) {
                if (i % 2 == 1) {
                    if (current_user_login == array[i].id.split(" ")[2]) {
                        time_date_login.push(array[i].id);
                    }
                }
            }

            console.log(time_date_login);

            function delete_from_dtb_user() {
//                    var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: window.location.href, // the endpoint,commonly same url
                    type: "POST", // http method
                    data: {
//                            csrfmiddlewaretoken: csrftoken,
                        time_date_login: time_date_login,
                        delete_user: "True",

                    },
                    // when success then get data from response and re-render data on page
                    success: function (response) {
                        $("#modal_window_user").modal('hide');
                        get_reservations_from_dtb();
//                        console.log(response);

                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }

            // function call
            if (time_date_login.length > 0) {
                delete_from_dtb_user();
            }
            else {
                alert("Na tomto termine nemate ziadnu registraciu");
            }
        });


        $('#modal-update_user').click(function () {

            var array = $("#modal_table tr td");

            var current_user_login = "user_login";

            var time_date_login = [];
            var notes = [];

            for (var i = 0; i < array.length; i++) {

                if (i % 2 == 1) {
                    if (current_user_login == array[i].id.split(" ")[2]) {
                        time_date_login.push(array[i].id);
                        notes.push(array[i].children[0].value);
                    }
                }
            }

            console.log(time_date_login);

            function delete_from_dtb_user() {
//                    var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: window.location.href, // the endpoint,commonly same url
                    type: "POST", // http method
                    data: {
//                            csrfmiddlewaretoken: csrftoken,
                        time_date_login: time_date_login,
                        notes: notes,
                        update_user: "True",

                    },
                    // when success then get data from response and re-render data on page
                    success: function (response) {
                        $("#modal_window_user").modal('hide');
//                        get_reservations_from_dtb();
//                        console.log(response);

                    },
                    error: function (xhr, errmsg, err) {
                        console.log("Error " + xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
            }

            // function call
            if (time_date_login.length > 0) {
                delete_from_dtb_user();
            }
            else {
                alert("Na tomto termine nemate ziadnu registraciu");
            }
        });


// buttons around calendar
//----------------------------------------------------------------------------------------------------------------------

        // next ( ">" ) button clicked increase value in input text
        $('#next').click(function () {
            var date = $('#datepicker').datepicker('getDate');
            var prev_day = date.getDay();
            date.setDate(date.getDate() + 1)
            $('#datepicker').datepicker("setDate", date);
            var new_date = $('#datepicker').datepicker('getDate');
            var day = new_date.getDay();
            console.log(new_date, day);
            if (day == 1 || (day == 5) && prev_day != 4) {
                get_reservations_from_dtb();
            }
            change_bg_color();
        });
        // previous ( "<" ) button clicked decrease value in input text
        $('#prev').click(function () {
            var date = $('#datepicker').datepicker('getDate');
            var next_day = date.getDay();
            date.setDate(date.getDate() - 1)
            $('#datepicker').datepicker("setDate", date);
            var new_date = $('#datepicker').datepicker('getDate');
            var day = new_date.getDay();
            console.log(new_date, day);
            if ((day == 1 && next_day != 2 ) || day == 5) {
                get_reservations_from_dtb();
            }
            change_bg_color();
        });

// onload functions
//----------------------------------------------------------------------------------------------------------------------
        function select_red_by_day(day) {
            for (var i = 1; i <= 110; i++) {
                if (document.getElementById(i.toString()).children.length == 3) {
                    document.getElementById(i.toString()).children[0].checked = false;
                }
            }
            if (day < 6 && day > 0) {
                for (var i = 1; i < 110; i++) {
                    if (Math.floor(i / day)) {
                        $('#' + i.toString()).children().css('background-color', 'darkRed');
                        day += 5;
                    }
                    else {
                        $('#' + i.toString()).children().css('background-color', '#9e9e9e');
                    }
                }
            }
            else {
                for (var i = 1; i <= 110; i++) {
                    $('#' + i.toString()).children().css('background-color', '#9e9e9e');
                }
            }
        }
        ;

        function change_bg_color() {
            var new_date = $('#datepicker').datepicker('getDate');
            var day = new_date.getDay();
            select_red_by_day(day);
        }
        ;

        function do_stuff() {
//            get_reservations_from_dtb();
            change_bg_color();
        }
        ;

        window.onload = do_stuff;


    })
    ;
</script>

</html>